@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_regular_master_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_regular_master_web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_regular_master_web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_italic_master_web.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_italic_master_web.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_italic_master_web.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_bold_master_web.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_bold_master_web.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Happy Times at the IKOB';
    src: url('happy-times-NG_bold_master_web.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
