<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_kernCap_exclamdown3</key>
	<array>
		<string>exclamdown.cap</string>
	</array>
	<key>@MMK_L_kernCap_guillemotleft3</key>
	<array>
		<string>guillemotleft.cap</string>
		<string>guilsinglleft.cap</string>
	</array>
	<key>@MMK_L_kernCap_guillemotright3</key>
	<array>
		<string>guillemotright.cap</string>
		<string>guilsinglright.cap</string>
	</array>
	<key>@MMK_L_kernCap_hyphen3</key>
	<array>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>hyphen.cap</string>
	</array>
	<key>@MMK_L_kernCap_questiondown3</key>
	<array>
		<string>questiondown.cap</string>
	</array>
	<key>@MMK_L_kernLC_a1</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_kernLC_c1</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_kernLC_dcaron1</key>
	<array>
	</array>
	<key>@MMK_L_kernLC_e1</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>@MMK_L_kernLC_eth3</key>
	<array>
	</array>
	<key>@MMK_L_kernLC_f1</key>
	<array>
		<string>f</string>
		<string>ff</string>
	</array>
	<key>@MMK_L_kernLC_g1</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_L_kernLC_germandbls1</key>
	<array>
	</array>
	<key>@MMK_L_kernLC_i1</key>
	<array>
		<string>dotlessi</string>
		<string>fi</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>ffi</string>
	</array>
	<key>@MMK_L_kernLC_k1</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_kernLC_l1</key>
	<array>
		<string>d</string>
		<string>fl</string>
		<string>l</string>
		<string>ffl</string>
	</array>
	<key>@MMK_L_kernLC_n1</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>Th</string>
	</array>
	<key>@MMK_L_kernLC_o1</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>p</string>
	</array>
	<key>@MMK_L_kernLC_q1</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_kernLC_r1</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_kernLC_s1</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_kernLC_t1</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_kernLC_tcaron1</key>
	<array>
	</array>
	<key>@MMK_L_kernLC_u3</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_kernLC_v3</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@MMK_L_kernLC_w3</key>
	<array>
	</array>
	<key>@MMK_L_kernLC_x3</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_kernLC_y3</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_kernLC_z3</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_L_kernLP_cent3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_dollar3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_eight3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_euro3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_five3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_florin3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_four3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_nine3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_numbersign3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_one3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_seven3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_six3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_sterling3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_three3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_two3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_yen3</key>
	<array>
	</array>
	<key>@MMK_L_kernLP_zero3</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_dollar3</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_eight3</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_euro1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_five1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_four1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_nine1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_one1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_seven1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_six1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_three1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_two1</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_yen3</key>
	<array>
	</array>
	<key>@MMK_L_kernOP_zero3</key>
	<array>
	</array>
	<key>@MMK_L_kernSup_a3</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_L_kernSup_o1</key>
	<array>
		<string>ordmasculine</string>
		<string>numero</string>
	</array>
	<key>@MMK_L_kernSuperior_eight3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_five3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_four3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_nine3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_one3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_seven3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_six3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_three3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_two3</key>
	<array>
	</array>
	<key>@MMK_L_kernSuperior_zero3</key>
	<array>
	</array>
	<key>@MMK_L_kern_A3</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_kern_B1</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_kern_C1</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_kern_E1</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
	</array>
	<key>@MMK_L_kern_F1</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_kern_G1</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_kern_H1</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>M</string>
	</array>
	<key>@MMK_L_kern_J1</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_kern_K1</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_kern_Kalt1</key>
	<array>
	</array>
	<key>@MMK_L_kern_L1</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_kern_N1</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_kern_O1</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_kern_P1</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_kern_R1</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_kern_Ralt1</key>
	<array>
	</array>
	<key>@MMK_L_kern_S3</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_kern_T3</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_kern_U3</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_L_kern_V3</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_kern_W3</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_kern_X3</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_kern_Y3</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_kern_Z3</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_kern_ampersand3</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_kern_asterisk3</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_kern_at3</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_L_kern_backslash3</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_L_kern_braceleft1</key>
	<array>
		<string>braceleft</string>
		<string>braceleft.cap</string>
	</array>
	<key>@MMK_L_kern_braceright1</key>
	<array>
		<string>braceright</string>
		<string>braceright.cap</string>
	</array>
	<key>@MMK_L_kern_bullet3</key>
	<array>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>periodcentered.cap</string>
	</array>
	<key>@MMK_L_kern_colon3</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_kern_comma3</key>
	<array>
		<string>comma</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_kern_copyright3</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_L_kern_dagger3</key>
	<array>
		<string>dagger</string>
	</array>
	<key>@MMK_L_kern_daggerdbl3</key>
	<array>
	</array>
	<key>@MMK_L_kern_degree3</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_L_kern_equal3</key>
	<array>
		<string>equal</string>
	</array>
	<key>@MMK_L_kern_exclam3</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_L_kern_exclamdown3</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_L_kern_fraction3</key>
	<array>
	</array>
	<key>@MMK_L_kern_greater3</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_L_kern_guillemotleft3</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_kern_guillemotright3</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_kern_hyphen3</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>minus</string>
	</array>
	<key>@MMK_L_kern_less3</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_L_kern_notdef3</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>@MMK_L_kern_parenleft1</key>
	<array>
		<string>bracketleft</string>
		<string>bracketleft.cap</string>
		<string>parenleft</string>
		<string>parenleft.cap</string>
	</array>
	<key>@MMK_L_kern_parenright1</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
		<string>bracketright.cap</string>
		<string>parenright.cap</string>
	</array>
	<key>@MMK_L_kern_percent3</key>
	<array>
		<string>percent</string>
	</array>
	<key>@MMK_L_kern_period3</key>
	<array>
		<string>ellipsis</string>
		<string>period</string>
	</array>
	<key>@MMK_L_kern_plus3</key>
	<array>
		<string>divide</string>
		<string>plus</string>
	</array>
	<key>@MMK_L_kern_question3</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_kern_questiondown3</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_L_kern_quotedblleft3</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_kern_quotedblright3</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_L_kern_registered3</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_L_kern_slash3</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_L_kern_space3</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_L_kern_trade3</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_R_kernCap_exclamdown3</key>
	<array>
		<string>exclamdown.cap</string>
	</array>
	<key>@MMK_R_kernCap_guillemotleft3</key>
	<array>
		<string>guillemotleft.cap</string>
		<string>guilsinglleft.cap</string>
	</array>
	<key>@MMK_R_kernCap_guillemotright3</key>
	<array>
		<string>guillemotright.cap</string>
		<string>guilsinglright.cap</string>
	</array>
	<key>@MMK_R_kernCap_hyphen3</key>
	<array>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>hyphen.cap</string>
	</array>
	<key>@MMK_R_kernCap_questiondown3</key>
	<array>
		<string>questiondown.cap</string>
	</array>
	<key>@MMK_R_kernLC_a2</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_kernLC_eth3</key>
	<array>
	</array>
	<key>@MMK_R_kernLC_f2</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>ff</string>
		<string>ffi</string>
		<string>ffl</string>
	</array>
	<key>@MMK_R_kernLC_g3</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_R_kernLC_i2</key>
	<array>
		<string>dotlessi</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_R_kernLC_j2</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_kernLC_l2</key>
	<array>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>b</string>
	</array>
	<key>@MMK_R_kernLC_n2</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>@MMK_R_kernLC_o2</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>q</string>
	</array>
	<key>@MMK_R_kernLC_s2</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_kernLC_t2</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_kernLC_u3</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_kernLC_v3</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@MMK_R_kernLC_w3</key>
	<array>
	</array>
	<key>@MMK_R_kernLC_x3</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_kernLC_y3</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_kernLC_z3</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_kernLP_cent3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_dollar3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_eight3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_euro3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_five3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_florin3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_four3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_nine3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_numbersign3</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>@MMK_R_kernLP_one3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_seven3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_six3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_sterling3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_three3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_two3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_yen3</key>
	<array>
	</array>
	<key>@MMK_R_kernLP_zero3</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_dollar3</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_euro3</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_five2</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_four2</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_nine2</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_one2</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_seven2</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_three2</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_two2</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_yen3</key>
	<array>
	</array>
	<key>@MMK_R_kernOP_zero3</key>
	<array>
	</array>
	<key>@MMK_R_kernSup_a3</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_R_kernSup_o2</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_kernSuperior_eight3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_five3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_four3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_nine3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_one3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_seven3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_six3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_three3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_two3</key>
	<array>
	</array>
	<key>@MMK_R_kernSuperior_zero3</key>
	<array>
	</array>
	<key>@MMK_R_kern_A3</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_kern_AE2</key>
	<array>
	</array>
	<key>@MMK_R_kern_H2</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>numero</string>
	</array>
	<key>@MMK_R_kern_J2</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_kern_O2</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_kern_S3</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_kern_T3</key>
	<array>
		<string>T</string>
		<string>Th</string>
	</array>
	<key>@MMK_R_kern_U3</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_R_kern_V3</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_kern_W3</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_kern_X3</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_kern_Y3</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_kern_Z3</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_kern_ampersand3</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_R_kern_asterisk3</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_kern_at3</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_R_kern_backslash3</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_R_kern_braceleft2</key>
	<array>
		<string>braceleft</string>
		<string>braceleft.cap</string>
	</array>
	<key>@MMK_R_kern_braceright2</key>
	<array>
		<string>braceright</string>
		<string>braceright.cap</string>
	</array>
	<key>@MMK_R_kern_bullet3</key>
	<array>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>periodcentered.cap</string>
	</array>
	<key>@MMK_R_kern_colon3</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_kern_comma3</key>
	<array>
		<string>comma</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_kern_copyright3</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_R_kern_dagger3</key>
	<array>
		<string>dagger</string>
	</array>
	<key>@MMK_R_kern_daggerdbl3</key>
	<array>
	</array>
	<key>@MMK_R_kern_degree3</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_R_kern_equal3</key>
	<array>
		<string>equal</string>
	</array>
	<key>@MMK_R_kern_exclam3</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_R_kern_exclamdown3</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_R_kern_fraction3</key>
	<array>
	</array>
	<key>@MMK_R_kern_greater3</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_R_kern_guillemotleft3</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_kern_guillemotright3</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_kern_hyphen3</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>minus</string>
	</array>
	<key>@MMK_R_kern_less3</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_R_kern_notdef3</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>@MMK_R_kern_parenleft2</key>
	<array>
		<string>bracketleft</string>
		<string>bracketleft.cap</string>
		<string>parenleft</string>
		<string>parenleft.cap</string>
	</array>
	<key>@MMK_R_kern_parenright2</key>
	<array>
		<string>bracketright</string>
		<string>bracketright.cap</string>
		<string>parenright</string>
		<string>parenright.cap</string>
	</array>
	<key>@MMK_R_kern_percent3</key>
	<array>
		<string>percent</string>
	</array>
	<key>@MMK_R_kern_period3</key>
	<array>
		<string>ellipsis</string>
		<string>period</string>
	</array>
	<key>@MMK_R_kern_plus3</key>
	<array>
		<string>divide</string>
		<string>plus</string>
	</array>
	<key>@MMK_R_kern_question3</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_kern_questiondown3</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_R_kern_quotedblleft3</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_kern_quotedblright3</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_kern_registered3</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_R_kern_slash3</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_kern_space3</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_R_kern_trade3</key>
	<array>
		<string>trademark</string>
	</array>
	<key>kern_punct</key>
	<array>
		<string>comma</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>period</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>slash</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>copyright</string>
		<string>registered</string>
		<string>published</string>
		<string>trademark</string>
		<string>servicemark</string>
	</array>
	<key>kern_punct_sc</key>
	<array>
		<string>ampersand.small</string>
		<string>hyphen</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft.small</string>
		<string>parenright.small</string>
		<string>bracketleft.small</string>
		<string>bracketright.small</string>
		<string>braceleft.small</string>
		<string>braceright.small</string>
		<string>at.small</string>
	</array>
	<key>kern_punct_uc</key>
	<array>
		<string>ampersand</string>
		<string>hyphen.cap</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
		<string>endash.cap</string>
		<string>emdash.cap</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>at.cap</string>
	</array>
	<key>kern_sc</key>
	<array>
		<string>A.small</string>
		<string>B.small</string>
		<string>C.small</string>
		<string>D.small</string>
		<string>E.small</string>
		<string>F.small</string>
		<string>G.small</string>
		<string>H.small</string>
		<string>I.small</string>
		<string>J.small</string>
		<string>K.small</string>
		<string>L.small</string>
		<string>M.small</string>
		<string>N.small</string>
		<string>O.small</string>
		<string>P.small</string>
		<string>Q.small</string>
		<string>R.small</string>
		<string>S.small</string>
		<string>T.small</string>
		<string>U.small</string>
		<string>V.small</string>
		<string>W.small</string>
		<string>X.small</string>
		<string>Y.small</string>
		<string>Z.small</string>
		<string>Agrave.small</string>
		<string>Aacute.small</string>
		<string>Acircumflex.small</string>
		<string>Atilde.small</string>
		<string>Adieresis.small</string>
		<string>Amacron.small</string>
		<string>Abreve.small</string>
		<string>Aring.small</string>
		<string>Aringacute.small</string>
		<string>Aogonek.small</string>
		<string>AE.small</string>
		<string>AEacute.small</string>
		<string>Cacute.small</string>
		<string>Ccircumflex.small</string>
		<string>Ccaron.small</string>
		<string>Cdotaccent.small</string>
		<string>Ccedilla.small</string>
		<string>Dcaron.small</string>
		<string>Dcroat.small</string>
		<string>Egrave.small</string>
		<string>Eacute.small</string>
		<string>Ecircumflex.small</string>
		<string>Ecaron.small</string>
		<string>Edieresis.small</string>
		<string>Emacron.small</string>
		<string>Ebreve.small</string>
		<string>Edotaccent.small</string>
		<string>Eogonek.small</string>
		<string>Gcircumflex.small</string>
		<string>Gbreve.small</string>
		<string>Gdotaccent.small</string>
		<string>Gcommaaccent.small</string>
		<string>Hcircumflex.small</string>
		<string>Hbar.small</string>
		<string>Igrave.small</string>
		<string>Iacute.small</string>
		<string>Icircumflex.small</string>
		<string>Itilde.small</string>
		<string>Idieresis.small</string>
		<string>Imacron.small</string>
		<string>Ibreve.small</string>
		<string>Iogonek.small</string>
		<string>IJ.small</string>
		<string>Jcircumflex.small</string>
		<string>Kcommaaccent.small</string>
		<string>Lacute.small</string>
		<string>Lcaron.small</string>
		<string>Lcommaaccent.small</string>
		<string>Lslash.small</string>
		<string>Ldot.small</string>
		<string>Nacute.small</string>
		<string>Ncaron.small</string>
		<string>Ntilde.small</string>
		<string>Ncommaaccent.small</string>
		<string>Ograve.small</string>
		<string>Oacute.small</string>
		<string>Ocircumflex.small</string>
		<string>Otilde.small</string>
		<string>Odieresis.small</string>
		<string>Omacron.small</string>
		<string>Obreve.small</string>
		<string>Ohungarumlaut.small</string>
		<string>Oslash.small</string>
		<string>Oslashacute.small</string>
		<string>OE.small</string>
		<string>Racute.small</string>
		<string>Rcaron.small</string>
		<string>Rcommaaccent.small</string>
		<string>Sacute.small</string>
		<string>Scircumflex.small</string>
		<string>Scaron.small</string>
		<string>Scedilla.small</string>
		<string>Scommaaccent.small</string>
		<string>Tcaron.small</string>
		<string>Tcommaaccent.small</string>
		<string>Tbar.small</string>
		<string>Ugrave.small</string>
		<string>Uacute.small</string>
		<string>Ucircumflex.small</string>
		<string>Utilde.small</string>
		<string>Udieresis.small</string>
		<string>Umacron.small</string>
		<string>Ubreve.small</string>
		<string>Uring.small</string>
		<string>Uhungarumlaut.small</string>
		<string>Uogonek.small</string>
		<string>Wgrave.small</string>
		<string>Wacute.small</string>
		<string>Wcircumflex.small</string>
		<string>Wdieresis.small</string>
		<string>Ygrave.small</string>
		<string>Yacute.small</string>
		<string>Ycircumflex.small</string>
		<string>Ydieresis.small</string>
		<string>Zacute.small</string>
		<string>Zcaron.small</string>
		<string>Zdotaccent.small</string>
		<string>Eng.small</string>
		<string>Eth.small</string>
		<string>Thorn.small</string>
		<string>Schwa.small</string>
	</array>
	<key>kern_uc</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Aogonek</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Ccedilla</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Ecaron</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>Hcircumflex</string>
		<string>Hbar</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Itilde</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>Ldot</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Ncommaaccent</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>OE</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tbar</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Utilde</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Ygrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Eng</string>
		<string>Eth</string>
		<string>Thorn</string>
		<string>Schwa</string>
	</array>
</dict>
</plist>
